@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: offWhite;
  --foreground: offBlack;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-bricolage-grotesque), Arial, Helvetica, sans-serif;
}
